[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
flask-cors = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-login = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
psycopg2 = "*"
flask-socketio = "*"

[dev-packages]
psycopg2-binary = "*"
psycopg2 = "*"

[requires]
python_version = "3.9"
